<!DOCTYPE html>
<html>
    <head>
        <title>UserDetail</title>
    </head>
	<body>
	<h1>UserDetail</h1>
	<hr>
		<h1>user_id: {{ user_id }}</h1>
		<h1>user_name: {{ user_name }}</h1>
		<h1>age: {{ age }}</h1>
	</body>
</html>